html{
	background-color:#36393e;
	font-family: WhitneyMedium, Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

.wrapper{
	min-width: 320px;
	max-width: 60rem;
	margin: 0 auto;
	position: relative;
	background-color: #2e3136;
	height: 100rem;
	padding: 2rem;
}

#profileImage{
	width: 18rem;
}

#side{
	float: left;
	width: 18rem;
	margin-top:1.20rem;
	margin-right: 1rem;
}

.structural {
    position: absolute;
    left: -9999px;
}

h2{
	color:  #db5f24;
	margin-top: 0rem;
	font-size: 3rem;
	margin-bottom: 1rem;
}

.btn{
	background-color:  #db5f24;
	color: white;
	float: right;
}

#profileData{
	width: 68%;
	float: left;
}

#submit{
	width: 5rem;
}

/* ===========================================
   Games
   =========================================== */

#games{
	float: left;
	width: 100%;
}

#games h3{
	color: #db5f24;
	margin: 0rem 0rem 0rem 0rem;
}

#games li{
	float: left;
	width: 5.5rem;
	list-style: none;
	padding: 0.5rem 0.5rem 0.5rem 0rem;
	margin-top: -1rem;
}

#games li img{
	width: 100%;
}

#games ul{
	width: 100%;
	margin-left: -2.5rem;
}

#games p{
	border-bottom: 1px solid #db5f24;
	margin-top: 0.2rem;
	color: white;
	text-align: center;
	padding-bottom: 0.2rem;
}

#games a{
	text-decoration: none;
}

/* ===========================================
   Discord steam
   =========================================== */
#discordSteam{
	float: left;
	width: 29rem;
}

#submitDiscord{
	width: 5rem;
	margin-right: -0.3rem;
}




/* ===========================================
   Description
   =========================================== */
#description{
	float: left;
	width: 29rem;
	margin-left: 2rem;
}

#submitDescription{
	width: 5rem;
	margin-top: 0.5rem;
}


/* ===========================================
   Form
   =========================================== */
form{
	width: 100%;
	margin-top: -1rem;
}

dl{
	width: 45%;
}

dt,dd{
	float: left;
}
dt{
	width: 15rem;
}

dd{
	width: 222%;
	margin-left: 0rem;
}

input, textarea{
	border: 0px;
	border-bottom: 1px solid #db5f24;
	background-color: #36393e;
	font-size: 1rem;
	font-weight: normal;
	height: 1.5rem;
	padding-left: 1rem;
	color: white;
}

dd input{
	width: 97.7%;
}

label{
	color: #db5f24;
}

input{
	width: 100%;
	margin-bottom: 0.75rem;
}

textarea{
	width: 96%;
	height: 5.05rem;
}

}

input:focus{
	border: 0px;
}










@font-face {
	font-family: WhitneyMedium;
	src: url(../fonts/WhitneyMedium.ttf);
}


