@font-face {
	font-family: WhitneyMedium;
	src: url(../fonts/WhitneyMedium.ttf);
}


html{
	background-color:#36393e;
	font-family: WhitneyMedium, Helvetica, sans-serif;
	font-size: 1rem;
}

.wrapper{
	min-width: 320px;
	max-width: 60rem;
	margin: 0 auto;
	position: relative;
	background-color: #2e3136;
	height: 100rem;
	padding: 2rem;
}

.structural {
	position: absolute;
	left: -9999px;
}

h2{
	color:  #db5f24;
	margin-top: 0rem;
	font-size: 3rem;
	margin-bottom: 1rem;
}

li{
	list-style: none;
}

p{
	color: white;
	margin: 0rem 0rem 0rem 0rem;
}

.btn{
	background-color:  #db5f24;
	color: white;
	float: right;
	border: 0px;
}
/* ===========================================
set button
=========================================== */
#set{
	padding: 0.75rem;
	margin-top: -5rem;
	text-decoration: none;
}

/* ===========================================
profile
=========================================== */
#profileImage{
	width: 18rem;
}

#side{
	float: left;
	width: 18rem;
	margin-top:1.20rem;
	margin-right: 2rem;
}

#profileData{
	width: 66%;
	float: left;
}

#profileData li{
	margin-left: -2rem;
}

.level{
	position: absolute;
	width: 5rem;
	top: 21.5rem;
	left: 16rem;
}

#side p{
	text-align: center;
	margin-top: 0.75rem;
	font-size: 3rem;
}

#submit{
	width: 5rem;
}

/* ===========================================
Data
=========================================== */
.title{
	color: #db5f24;
	margin-top: 1rem;
}

/* ===========================================
Games
=========================================== */

#games{
	float: left;
	width: 100%;
}

#games h3{
	color: #db5f24;
	margin: 1rem 0rem 0rem 0rem;
}

#games li{
	float: left;
	width: 5.5rem;
	list-style: none;
	padding: 0.5rem 0.5rem 0.5rem 0rem;
	margin-top: -1rem;
}

#games li img{
	width: 100%;
	background-color: #36393e;
}

#games ul{
	width: 100%;
	margin-left: -2.5rem;
}

#games p{
	border-bottom: 1px solid #db5f24;
	margin-top: 0.2rem;
	color: white;
	text-align: center;
	padding-bottom: 0.2rem;
}

#games a{
	text-decoration: none;
}


/* ===========================================
Discord steam
=========================================== */
#discordSteam{
	float: left;
	width: 48%;
	margin-right: 2rem;
}

#submitDiscord{
	width: 5rem;
	margin-right: -0.3rem;
}




/* ===========================================
Description
=========================================== */
#description{
	float: left;
	width: 48%;
}

#submitDescription{
	width: 5rem;
	margin-top: 0.5rem;
}


/* ===========================================
Form
=========================================== */
form{
	width: 100%;
	margin-top: -1rem;
}

/*dl{
	width: 45%;
}*/
/*
dt,dd{
	float: left;
}*/
dt{
	width: 15rem;
}

dd{
	/*width: 222%;*/
	margin-left: 0rem;
}

input, textarea {
	border: 0px;
	border-bottom: 1px solid #db5f24;
	background-color: #36393e;
	font-size: 1rem;
	font-weight: normal;
	height: 1.5rem;
	padding-left: 1rem;
	color: white;
}

#profileData > dd input {
	width: 97.7%;
	margin-top: 0.5rem;
}

label {
	color: #db5f24;
}

input {
	width: 97%;
	margin-bottom: 1rem;
}

textarea {
	width: 97%;
	height: 5.05rem;
}



input:focus{
	border: 0px;
<<<<<<< HEAD
}



#editoverlay {
	width: 9rem;
	margin: 4.5rem;
	margin-top: -18rem;
	display: none;
}

#image {
	display: none;
}




#profileImage {
	background-image: url('../img/avatar-member.jpg');
	background-size: 100% 100%;
	width: 18rem;
	height: 18rem;
}


#profileImage:hover {
	background-image: url('../img/pencil.png'), url('../img/avatar-member.jpg');
}
=======
}*/


/* ===========================================
   Model add games
   =========================================== */
.remodal h1 {
}

#addGames {
    overflow: hidden;
    margin-bottom: 30px;
    overflow-y: auto;
    height: 380px;


}


#addGames ul {
    margin-left: -40px;
    margin-top: -5px;
}

#addGames li p {
    color: #db5f24;
    margin-top: 5px;
    margin-bottom: 10px;
}

#addGames li {
    width: 142px;
    display: block;
    float: left;
    margin: 5px;
}

#addGames li img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    margin-top: 3px;
}

#addGames li img:hover {
    outline: #999999 solid 3px;
}

#addGames li img:active{
    outline: #999999 solid 3px;
}

#addGames > ul > li > img.active {
    outline: #999999 solid 3px;
}

#searchAddGames {
    overflow: hidden;
}

#searchAddGames dt {
    width: 10%;
    float: left;
}

#searchAddGames input {
    background-color: #4a4c51;
}

#searchAddGames dd {
    margin-left:4px;
    width: 100%;
    float: left;
}

::-webkit-scrollbar {
    width:  5px;
    height: 5px;
}


::-webkit-scrollbar-thumb {
    background: #db5f24;
}

::-webkit-scrollbar-track {
    background: #4a4c51;
}



>>>>>>> 0292aa5b531b87cf5db0730d26fd7e5d48a05151
