@font-face {
    font-family: WhitneyMedium;
    src: url(../fonts/WhitneyMedium.ttf);
}


html{
	background-color:#36393e;
	font-family: WhitneyMedium, Helvetica, sans-serif;
	font-size: 1rem;
}

.wrapper{
	min-width: 320px;
	max-width: 60rem;
	margin: 0 auto;
	position: relative;
	background-color: #2e3136;
	height: 100rem;
	padding: 2rem;
}

.structural {
    position: absolute;
    left: -9999px;
}

h2{
	color:  #db5f24;
	margin-top: 0rem;
	font-size: 3rem;
	margin-bottom: 1rem;
}

li{
	list-style: none;
}

p{
	color: white;
	margin: 0rem 0rem 0rem 0rem;
}

.btn{
	background-color:  #db5f24;
	color: white;
	float: right;
	border: 0px;
}
/* ===========================================
   set button
   =========================================== */
#set{
	padding: 0.75rem;
	margin-top: -5rem;
	text-decoration: none;
}

/* ===========================================
   profile
   =========================================== */
#profileImage{
	width: 18rem;
}

#side{
	float: left;
	width: 18rem;
	margin-top:1.20rem;
	margin-right: 2rem;
}

#profileData{
	width: 66%;
	float: left;
}

.level{
	position: absolute;
	width: 5rem;
	top: 21.5rem;
    left: 16rem;
}

#side p{
	text-align: center;
    margin-top: 0.75rem;
    font-size: 3rem;
}

#updateSubmit{
	width: 5rem;
	padding: 12px 0;
	padding-bottom: 30px;
	margin-right: -9px;
    margin-top: 10px;
}

#submit-photo {
    width: 100%;
}

/* ===========================================
   Data
   =========================================== */
.title{
	color: #db5f24;
	margin-top: 1rem;
}

/* ===========================================
   Games
   =========================================== */

#games, #games-overview, #lobby-overview{
	float: left;
	width: 100%;
}

#games h3, #games-overview h3, #lobby-overview h3{
	color: #db5f24;
	margin: 1rem 0rem 0rem 0rem;
}

#games li, #games-overview li, #lobby-overview li{
	float: left;
	width: 5.5rem;
	list-style: none;
	padding: 0.5rem 1.5rem 0.5rem 0rem;
}

#games li img, #games-overview li img, #lobby-overview li img{
	width: 100%;
}

#games p, #games-overview p, #lobby-overview p{
	border-bottom: 1px solid #db5f24;
	margin-top: 0.4rem;
	color: white;
	text-align: center;
	padding-bottom: 0.2rem;
}

#games a, #games-overview a, #lobby-overview a{
	text-decoration: none;
}

#games img:nth-of-type(1):hover {
    outline: #999999 solid 3px;
}

/*for circle and skill level*/
img.levelGames {
    position: absolute;
    width: 37px!important;
    background-color: transparent!important;
    margin-left: -29px;
    margin-top: 59px;
}

p.levelGames {
    position: absolute;
    width: 20px;
    margin-top: -23px!important;
    margin-left: 68px;
    border-bottom: none!important;
}

/* ===========================================
   Discord steam
   =========================================== */
#discordSteam{
	float: left;
	width: 48%;
	margin-right: 2rem;
}

#submitDiscord{
	width: 5rem;
	margin-right: -0.3rem;
}




/* ===========================================
   Description
   =========================================== */
#description{
	float: left;
	width: 48%;
}

#submitDescription{
	width: 5rem;
	margin-top: 0.5rem;
}


/* ===========================================
   Form
   =========================================== */
form{
	width: 100%;
	margin-top: 1rem;
}

dt{
	width: 15rem;
    margin-bottom: 5px
}

input, textarea {
	border: 0px;
	border-bottom: 1px solid #db5f24;
	background-color: #36393e;
	font-size: 1rem;
	font-weight: normal;
	height: 1.5rem;
	padding-left: 1rem;
	color: white;
}

#profileData > dd input {
	width: 97.7%;
	margin-top: 0.5rem;
}

label {
	color: #db5f24;
}

input {
	width: 98.5%;
	margin-bottom: 1rem;
}

textarea {
	width: 98.5%;
	height: 5.05rem;
}

input:focus{
	border: 0px;
}


/* ===========================================
   Model add games
   =========================================== */
.remodal h1 {
}

#addGames {
    overflow: hidden;
    margin-bottom: 30px;
    overflow-y: auto;
    height: 380px;
}

#addGames li p {
    margin-top: 5px;
    margin-bottom: 10px;
}

#addGames li {
    width: 142px;
    display: block;
    float: left;
    margin: 5px;
}

#addGames li img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    margin-top: 3px;
}

#addGames li img:hover {
    outline: #999999 solid 3px;
}

#addGames li img:active{
    outline: #999999 solid 3px;
}

#addGames > ul > li > img.active {
    outline: #999999 solid 3px;
}

#searchAddGames {
    overflow: hidden;
}

#searchAddGames dt {
    width: 10%;
    float: left;
}

#searchAddGames input {
    background-color: #4a4c51;
}

#searchAddGames dd {
    margin-left:4px;
    width: 100%;
    float: left;
}

/* ===========================================
   Model edit game
   =========================================== */

#modelSkilEditEdit {
    float: right;
    min-width: 110px;
    padding: 12px 0;
}

#modelSkilEditDelete {
	float: left;
	min-width: 110px;
	padding: 12px 0;
}

#modelSkilEditDelete input,#modelSkilEditEdit input,.remodal-confirm {
    padding-bottom: 30px;
}

#editGame label {
    margin-left: -195px;
}

#editGame dt {
    margin-bottom: 5px;
}

#skillset {
    background-color: #4a4c51;
    width: 97.5%;
}
