/****************************************************************************
 *                                   Fonts                                  *
 ****************************************************************************/

@font-face {
    font-family: WhitneyMedium;
    src: url(../fonts/WhitneyMedium.ttf);
}

/****************************************************************************
 *                                General CSS                               *
 ****************************************************************************/

html {
    background-color: #2e3136;
    font-family: WhitneyMedium, Helvetica, sans-serif;
    color: white;
}

body {
    display: flex;
}

/********************************* Scrollbar ********************************/

::-webkit-scrollbar {
    width:  5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #f36523;
}

::-webkit-scrollbar-track {
    background: #4a4c51;
}

/****************************************************************************
 *                                  Sidebar                                 *
 ****************************************************************************/

.sidebar {
    position: fixed;
    background: #36393e;
    height: 100vh;
    width: 2.8rem;
}

.sidebar.placeholder {
    position: relative;
    visibility: hidden;
    overflow: hidden;
}

.menu-list--bottom {
    position: absolute;
    bottom: 0rem;
    width: 100%;
}

.menu-list__item {
    background: #f36523;
    font-size: 2rem;
    text-align: center;
    padding: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-transform: skewY(20deg);
    -moz-transform: skewY(20deg);
    -ms-transform: skewY(20deg);
    -o-transform: skewY(20deg);
    transform: skewY(20deg);
}

.menu-list__item__text {
    background: #f36523;
    position: absolute;
    left: 2.8rem;
    top: 0;
    width: 0;
    padding: 0.2rem 0;
    text-align: right;
    font-size: 1.4rem;
    line-height: 2.25rem;
    -webkit-transform: skewY(-20deg);
    -moz-transform: skewY(-20deg);
    -ms-transform: skewY(-20deg);
    -o-transform: skewY(-20deg);
    transform: skewY(-20deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    height: 2.25rem;
}

.menu-list__item:hover > .menu-list__item__text {
    top: -2rem;
    left: 2.8rem;
    width: 10rem;
    padding: 0.2rem 0.5rem;
}

.menu-list__item__link {
    text-decoration: none;
    color: inherit;
}

.menu-list__item__icon {
    -webkit-transform: skewY(-20deg);
    -moz-transform: skewY(-20deg);
    -ms-transform: skewY(-20deg);
    -o-transform: skewY(-20deg);
    transform: skewY(-20deg);
}
/****************************************************************************
 *                                  Content                                 *
 ****************************************************************************/

.content {
    background-color: #2e3136;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}

.page-title {
    color: #f36523;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.page-title--small {
    font-size: 1.5rem;
}

.page-title--medium {
    font-size: 2rem;
}

.page-title--large {
    font-size: 3rem;
}

/****************************************************************************
 *                                Friendbar                                 *
 ****************************************************************************/

.friendbar {
    width: 12rem;
    background: #36393e;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow-x: hidden;
}

.friendbar p {
    background: #f36523;
    padding-left: 0.2rem;
    line-height: 1.6rem;
}

.friendbar .person {
    padding: 0.1rem 0;
}

.friendbar .person a {
    padding: 0.1rem 0.25rem;
    height: 2rem;
    line-height: 2rem;
    display: block;
    color: white;
    text-decoration: none;
}

.friendbar .person a:hover {
    background: rgba(0,0,0,0.6);
}

.friendbar .person .image {
    float: left;
    width: 2rem;
    height: 2rem;
}

.friendbar .person img {
    max-width: 2rem;
    max-height: 2rem;
}

.friendbar .person span {
    padding-left: 0.25rem;
}

/********************************** Errors **********************************/

.error-list {
    width: 23rem;
    display: block;
    text-align: center;
}

.error-list__item {
    background-color: #36393e;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.error-list__item__icon {
    color: #f36523;
    float: left;
    width: 1rem;
    margin-right: 1rem;
}

.error-list__item__text {
    line-height: 1rem;
    text-align: left;
}

/*********************************** Info ***********************************/

.info-text {
    padding-bottom: .75rem;
}

.info-text__link {
    color: #f36523;
}

/*********************************** Forms **********************************/

.form--login {
    display: flex;
    margin: 1rem 1rem 0;
    align-items: center;
}

.form--register {
    display: flex;
    flex-direction: column;
}

.form--settings {

}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__label {
    color: #f36523;
    margin-bottom: 0;
}

.form__input {
    border-style: none;
    padding: 3px 6px;
}

.form__input--dark {
    border-bottom: 1px solid #f36523;
    background-color: #36393e;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    color: white;
}

.form__input--medium {
    border-bottom: 1px solid #f36523;
    background-color: #4a4c51;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    color: white;
}

.form__input--light {
    margin-bottom: 1px;
    font-size: 1.5rem;
}

.form__input--first {
    border-radius: 10px 10px 0 0;
}

.form__input--last {
    border-radius: 0 0 10px 10px;
}

.form__textarea {
    border: 0;
    border-bottom: 1px solid #f36523;
    background-color: #36393e;
    padding-left: 1rem;
    color: white;
}

.form__submit {
    border-style: none;
}

.form__submit--login {
    background: #f36523;
    color: white;
    width: 3.8rem;
    font-size: 3rem;
    height: 3.8rem;
    margin-left: -2rem;
    padding-left: 0.7rem;
    border-radius: 100%;
}

.form__submit--register {
    background: none;
    color: #f36523;
    width: 100%;
    font-size: 1.5rem;
    padding: 3px 6px;
    margin-bottom: 1rem;
}

.form__submit--settings {
    background: #f36523;
    color: white;
    width: 5rem;
    float: right;
    padding: 0.5rem;
    margin-top: 10px;
}

/********************************** Images **********************************/

.image--explanation {
    max-width: 23rem;
    margin: 1.25rem 1rem 1rem;
}

/****************************************************************************
 *                              Login/Register                              *
 ****************************************************************************/

.login, .register {
    display: flex;
    flex-direction: column;

    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    margin: 1rem;
    font-size: 4rem;
}

.nation {
    color: #f36523;
}

/****************************************************************************
 *                             Profile/Settings                             *
 ****************************************************************************/

.left {
    width: 18rem;
    float: left;
}

.right {
    margin-left: 20rem;
}

.settings:after, .profile:after {
    content: "";
    display: table;
    clear: both;
}

.avatar__image {
    width: 18rem;
}

.avatar__button {
    background-color: #f36523;
    color: white;
    width: 100%;
    border: 0;
    padding: 0.5rem 0;
    text-align: center;
}

.avatar__level {
    position: absolute;
    margin-left: 14rem;
    margin-top: -4rem;
    background: #f36523;
    padding: 1rem;
    width: 3.5rem;
    font-size: 3rem;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.profile-list__item {
    margin-top: 1rem;
}

.profile-list__item__title {
    color: #f36523;
}

.profile-list__item__content {
    color: white;
}

.games:after {
    display: table;
    content: "";
    clear: both;
}

.games-list__item {
    float: left;
    display: inline-block;
    text-align: center;
    margin-right: 1.25rem;
    margin-bottom: 1rem;
}

.games-list__item__link {
    text-decoration: none;
    color: inherit;
}

.games-list__item--icon {
    color: #f36523;
    height: 5.5rem;
    margin-bottom: 0.1rem;
}

.games-list__item--icon:hover {
    outline: #999999 solid 3px;
    cursor: pointer;
}

.games-list__item--image-small {
    width: 5.5rem;
    height: 5.5rem;
}

.list-games > ul > li > .games-list__item--image-small:hover {
    outline: #999999 solid 3px;
    cursor: pointer;
}

.games-list__item--image-large {
    width: 8.875rem;
    height: 8.875rem;
}

.games-list__item--level {
    position: absolute;
    margin-left: 3.8rem;
    margin-top: -1.8rem;
    background: #f36523;
    padding: .6rem;
    width: 1.125rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.games-list__item--text {
    border-bottom: 1px solid #f36523;
    padding-bottom: 0.2rem;
    margin-top: 0.4rem;
    text-align: center;
    font-size: 1rem;
    width: 5.5rem;
}

.games-list__item--text-small {
    width: 5.5rem;
}

.games-list__item--text-large {
    width: 8.875rem;
}

.add-games-list {
    height: 23.75rem;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 1.5rem;
    margin-left: -0.1rem;
}

.add-games-list__item {
    float: left;
    display: inline-block;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.add-games-list__item img:hover, .add-games-list__item img.active {
    outline: #999999 solid 3px;
    cursor: pointer;
}

.add-games-list__item--image-large {
    width: 8.875rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

.add-games-list__item--text {
    padding-bottom: 0.2rem;
    margin-top: 0.4rem;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.add-games-list__item--text-large {
    width: 8.875rem;
}

#friend-button {
    background: #f36523;
    color: white;
    float: right;
    padding: 0.5rem;
    cursor: pointer;
    /* default: don't show */
    display: none;
}


/**************************** Modal overview games ***************************/
#detailsGames h4 {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 1.5rem;
}

#detailsGames p {
    text-align: left;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.friendImg {
    float: left;
    width: 50px;
    margin-right: 7px;
    margin-bottom: 14px;
}

.formAddGame {
    clear: both;
    overflow: hidden;
    margin-top: 1rem;
}



/********************************** Avatars **********************************/
.avatar-list {
    height: 23.75rem;
    overflow-y: auto;
    margin-left: -0.1rem;
}

.avatar-list__item {
    display: inline-block;
    background-color: #f36523;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    float: left;
}

.avatar-list__item img {
    width: 7rem;
    padding: 1rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

.avatar-list__item img:hover {
    outline: #999999 solid 3px;
    cursor: pointer;
}


/**************************** Users page ***************************/

.users-list__item--image-small {
    width: 5.5rem;
    height: 5.5rem;
}

.users-list__item--image-small:hover {
    outline: #999999 solid 3px;
    cursor: pointer;
}

.users-list__item {
    float: left;
    display: inline-block;
    text-align: center;
    margin-right: 1.25rem;
    margin-bottom: 1rem;
}

.users-list__item--text {
    border-bottom: 1px solid #f36523;
    padding-bottom: 0.2rem;
    margin-top: 0.4rem;
    text-align: center;
    font-size: 1rem;
    width: 5.5rem;
}